@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

* {
    font-family: "Montserrat";
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(72deg, #cc6d00 0%, #fcc838 100%);
}

.col-style {
    background-color: black;
}

.loggin-wrapper {
    display: flex;
}